body {
  background-color: rgb(211, 211, 253);
}

.parent {
  height: 600px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: 50px 1fr 1fr 50px;
  grid-template-rows: 50px 325px 1fr 50px;
  grid-template-areas:
    "h h h h h "
    "m m m m m"
    "w w w w w"
    "f f f f f";
}

header {
  background-color: rgb(252, 146, 7);
  color: rgb(0, 0, 27);
  text-align: left;

  padding: 10px;
  grid-area: h;
}

main {
  background-color: rgb(248, 6, 147);
  color: rgb(0, 0, 27);

  padding: 10px;
  grid-area: m;
}
.widget {
  background-color: purple;
  color: white;

  padding: 10px;
  grid-area: w;
}
footer {
  background-color: yellowgreen;
  color: black;

  padding: 10px;
  grid-area: f;
}
@media (min-width: 320px) {
  .parent {
    height: 600px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 1fr 1fr 1fr 50px;
    grid-template-rows: 1fr 325px 1fr 50px;
    grid-template-areas:
      "h m m m m "
      "h m m m m"
      "h w w w w"
      "h f f f f";
  }
}
@media (min-width: 1100px) {
  .parent {
    height: 600px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "h m m m w "
      "h m m m w"
      "h m m m w"
      "h f f f w";
  }
}
